.expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }
  .expense_location{
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
    color: #fff;
  }
  .expense-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: .6rem;
    margin: 1rem 0;
    margin-right: 15px;
    border-radius: 12px;
    background-color: #706d6d;
  }